// @import "*";

body {
  color: white;
  background-color: black;
}

thead {
  border-bottom: none !important;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.resultItem:hover {
  transition: all .07s;
  transform: scale(1.03);
  box-shadow: 0 0 10px white;
  opacity: 1;
  border-radius: 5px;
}

.resultItem {
  padding-left: 25px;
}

.currencyItem:hover {
  transition: all .07s;
  transform: scale(1.03);
  box-shadow: 0 0 10px white;
  opacity: 1;
  border-radius: 5px;
}

.collapsible-header {
  color: white !important;
  background-color: black !important;
}

#conversionForm {
  text-align: center;
}

.autoCompleteInput {
  text-align:left;
  margin: auto;
  width: 50%;
  height: 50%;
  padding: 10px;
}

#allPages {
  padding: 0px 25px;
}

#allRates {
  margin-top: 20px;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  border-bottom: medium solid white;
}

/* Float the list items side by side */
ul.topnav li {float: right;}
ul.topnav li#logo {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
