<!DOCTYPE html>
<html>
  <head>
    <title>Currency Exchange</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  </head>

  <body>
    <div id="app"></div>
    <%= yield %>
    <script src="sorttable.js"></script>
  </body>
</html>
